# Frontend
frontend/node_modules
frontend/.next
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.settings/
backend/.classpath
backend/.project
backend/.factorypath
backend/.idea/
backend/*.iml
backend/.vscode/
backend/application.properties
backend/application-dev.properties
backend/application-prod.properties

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db 